// Scss İmports
@use "./variables";
@use "./header";
@use "./responsive";
@use "./hero";
@use "./products";
@use "./footer";
@use "./cart";

// * Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap");

// Css Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

// Global styles
body {
    font-family: "Big Shoulders", sans-serif;
    background-color: variables.$bg-color;
    color: variables.$text-color;
}

.container {
    max-width: 1070px;
    width: 100&;
    margin: auto;
}