@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap");
header {
  background-color: #f2f0f1;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}
header .container a {
  color: #273ea1;
}
header .container #menu-btn {
  font-size: 28px;
  color: #273ea1;
  cursor: pointer;
  display: none;
}
header .container .logo {
  font-size: 24px;
}
header .container nav {
  display: flex;
  align-items: center;
  gap: 16px;
}
header .container nav a {
  font-size: 20px;
}
header .container #basket-btn {
  font-size: 25px;
  cursor: pointer;
  position: relative;
}
header .container #basket-btn:after {
  content: attr(data-quantity);
  position: absolute;
  top: 0;
  right: -15px;
  font-size: 13px;
  background-color: #273ea1;
  color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-style: normal;
  font-weight: bold;
}

@media (max-width: 800px) {
  .hero h1 {
    font-size: 80px !important;
    top: 40px !important;
  }
  .hero-image img {
    height: 90% !important;
  }
  .footer-c {
    grid-template-columns: 1fr !important;
    row-gap: 40px;
  }
  .cart-wrapper {
    grid-template-columns: 1fr !important;
    padding: 20px;
  }
}
@media (max-width: 600px) {
  #menu-btn {
    display: block !important;
  }
  nav {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #f2f0f1;
    gap: 8px;
    padding: 10px 0;
    box-shadow: 0 20px 20px rgba(237, 237, 237, 0.45);
    clip-path: circle(0% at 0% 0%);
  }
  nav.open {
    clip-path: circle(144% at 0% 0%);
  }
}
.hero {
  height: calc(100vh - 80px);
  max-height: 880px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 0;
  position: relative;
}
.hero h1 {
  font-size: 120px;
  text-transform: uppercase;
  color: #273ea1;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%);
  white-space: nowrap;
  z-index: -1;
}
.hero-image {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-image img {
  width: 100%;
  height: 100%;
}

.products {
  padding: 10px;
}
.products h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 64px;
}
.products .product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}
.products .product-container .product img {
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}
.products .product-container .product-info {
  padding: 10px 15px;
}
.products .product-container .product-info h2 {
  font-size: 25px;
  color: #000;
  font-weight: 500;
  margin: 15px 0;
}
.products .product-container .product-info p {
  font-size: 20px;
  color: #273ea1;
  margin: 20px 0;
}
.products .product-container .product-info button {
  background-color: #273ea1;
  color: #ffffff;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

footer {
  background-color: #273ea1;
  color: #ffffff;
  margin-top: 50px;
  padding: 40px 10px;
}
footer .footer-c {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 16px;
  margin: 50px auto;
}
footer .footer-box {
  display: flex;
  flex-direction: column;
}
footer .footer-box h2 {
  font-size: 128px;
  text-transform: uppercase;
}
footer .footer-box .social {
  display: flex;
  align-items: center;
  gap: 16px;
}
footer .footer-box .social a {
  background-color: #ffffff;
  padding: 10px;
  font-size: 17px;
  border-radius: 50%;
}
footer .footer-box .social a i {
  color: #273ea1;
}
footer .footer-box h3 {
  font-size: 35px;
}
footer .footer-box ul {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .footer-box ul li a {
  color: #ffffff;
  font-size: 17px;
}
footer .copyright {
  padding: 50px;
  font-size: 20px;
}

.cart-container {
  margin-top: 50px !important;
}
.cart-container .back-to-home-button {
  display: block;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}
.cart-container .cart-title {
  margin: 30px 10px;
  font-size: 45px;
}
.cart-container .cart-wrapper {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
}
.cart-container .cart-wrapper .cart-items .cart-item {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid rgb(227, 227, 227);
}
.cart-container .cart-wrapper .cart-items .cart-item img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart-container .cart-wrapper .cart-items .cart-item-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart-container .cart-wrapper .cart-items .cart-item-info .cart-item-title {
  font-size: 20px;
  font-weight: 400;
}
.cart-container .cart-wrapper .cart-items .cart-item-info .cart-item-quantity {
  border: 1px solid #000;
  width: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}
.cart-container .cart-wrapper .cart-items .cart-item .cart-item-price {
  font-size: 20px;
  font-weight: 500;
}
.cart-container .cart-wrapper .cart-items .cart-item .remove-button {
  background-color: crimson;
  color: #ffffff;
  padding: 8px;
  max-width: 100px;
  font-weight: 600;
  cursor: pointer;
}
.cart-container .cart-wrapper .cart-checkbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart-container .cart-wrapper .cart-checkbox h2 {
  font-size: 32px;
  white-space: nowrap;
  font-weight: 600;
}
.cart-container .cart-wrapper .cart-checkbox .checkout-btn {
  background-color: #273ea1;
  color: #ffffff;
  padding: 10px;
  font-size: 17px;
  border-radius: 5px;
  max-width: 150px;
  cursor: pointer;
}
.cart-container .cart-wrapper .cart-checkbox .fee-title {
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  font-family: "Big Shoulders", sans-serif;
  background-color: #ffffff;
  color: #000;
}

.container {
  max-width: 1070px;
  width: 100 .container;
  margin: auto;
}

/* From Uiverse.io by vinodjangid07 */
.cookieCard {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background: rgba(255, 65, 51, 0.6666666667);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 30px;
  padding: 20px;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.cookieCard::before {
  width: 150px;
  height: 150px;
  content: "";
  background: #ff3f33;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  right: -25%;
  top: -25%;
}

.cookieHeading {
  font-size: 2.5rem;
  font-weight: 600;
  color: rgb(241, 241, 241);
  z-index: 2;
}

.cookieDescription {
  font-size: 1.5rem;
  color: rgb(241, 241, 241);
  z-index: 2;
}

.cookieDescription a {
  color: rgb(241, 241, 241);
}

.acceptButton {
  padding: 11px 20px;
  background-color: #ff3f33;
  transition-duration: 0.2s;
  border: none;
  color: rgb(241, 241, 241);
  cursor: pointer;
  font-weight: 600;
  z-index: 2;
}

.acceptButton:hover {
  background-color: #ea2f14;
  transition-duration: 0.2s;
}/*# sourceMappingURL=style.css.map */